body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: midnightblue;
}

a {

    color: rgb(207, 207, 0);
    text-decoration: none;
}

a:hover {
    color: yellow;
}

input[type=text], input[type=password] {
    width: 200px;
}

#registration input[type=text], #registration input[type=password] {
    position: absolute;
    left: 170px;
}

input[type=submit] {
    display:inline-block;
    padding:0.6em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    color:black;
    background-color:rgb(207, 207, 0);
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    border: 0;
}

input[type=submit]:hover {
    background-color:yellow;
}

input[type=submit]:active {
    top:0.1em;
}

input[type=checkbox] {
    margin-right: 1em;
}

#registration input[type=submit] {
    margin-top: 10px;
}

form {
    background-color: #222;
    padding: 20px;
}

textarea {
    background-color: rgb(226, 202, 68);
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    background: url("img/notepad.jpg");
    padding: 20px;
}

#notepad {
    background: none;
}